---
import GitHub from "../icons/GitHub.astro"
const PROYECTOS = [
    {
        title: "CioffiGestion",
        description: "Gestor de empleados y compra de materiales",
        image: "/proyectos/cioffigestion.jpg",
        github: "",
        link: "",
        tags: ["Next", "Firebase", "Javascript", "Tailwind"]
    },
    {
        title: "Testing con Cypress",
        description: "Entorno de pruebas con Vypress",
        image: "/proyectos/cypress.jpg",
        github: "https://github.com/GCortesGustavo/cypressBackend",
        link: "",
        tags: ["Cypress", "JAVASCRIPT"]
    },
    {
        title: "Testing con Playwright",
        description: "Entorno de pruebas con Playwright",
        image: "/proyectos/playwright.jpg",
        github: "https://github.com/GCortesGustavo/playwright-test",
        link: "",
        tags: ["Playwright", "JAVASCRIPT"]
    },
    {
        title: "Testing con Puppeteer",
        description: "Entorno de pruebas con Puppeteer",
        image: "/proyectos/puppeteerm.jpg",
        github: "https://github.com/GCortesGustavo/bdd-puppeteer",
        link: "",
        tags: ["Puppeteer", "JAVASCRIPT"]
    },
    {
        title: "E-CommerceVue",
        description: "E-Commerce de indumentaria",
        image: "/proyectos/ecommercevue.jpg",
        github: "https://github.com/GCortesGustavo/E-CommerceVue",
        link: "",
        tags: ["Vue", "Tailwind", "Javascript"]
    },
    {
        title: "Arkanoid",
        description: "Juego Arkanoid",
        image: "/proyectos/arkanoid.jpg",
        github: "https://github.com/GCortesGustavo/Arkanoid",
        link: "https://arkanoidg.netlify.app/",
        tags: ["HTML", "CSS", "JAVASCRIPT"]
    },
    {
        title: "50MiniProyectos",
        description: "Describiendo mi proyecto",
        image: "/proyectos/50proyectos.jpg",
        github: "https://github.com/GCortesGustavo/50ProjectsMini",
        link: "https://50projectsmini.netlify.app/",
        tags: ["HTML", "CSS", "JAVASCRIPT"]
    },
    {
        title: "Somos Jardin Web",
        description: "Plataforma E-Learning",
        image: "/proyectos/somosjardinweb.jpg",
        github: "",
        link: "https://somos-jardinweb.vercel.app/",
        tags: ["HTML", "CSS", "JAVASCRIPT"]
    },
    {
        title: "Pugstagram",
        description: "Réplica instragram pero con gatos!",
        image: "/proyectos/pugstagram.jpg",
        github: "https://github.com/GCortesGustavo/Pugstagram",
        link: "",
        tags: ["Svelte", "Tailwind", "Javascript"]
    },
    {
        title: "LiveChatG",
        description: "Chat en tiempo real",
        image: "/proyectos/livechatg.jpg",
        github: "https://github.com/GCortesGustavo/LiveChatg",
        link: "",
        tags: ["Socket.io", "CSS", "JAVASCRIPT", "HTML"]
    },
    {
        title: "Testa Clone",
        description: "Describiendo mi proyecto",
        image: "/proyectos/testaclone.jpg",
        github: "https://github.com/GCortesGustavo/Testa-Clone",
        link: "Al porfolio",
        tags: ["HTML", "CSS", "JAVASCRIPT"]
    },
    {
        title: "Pokedex",
        description: "Típica Pokedex donde se visualizan pokemones",
        image: "/proyectos/Pokedex.jpg",
        github: "https://github.com/GCortesGustavo/Pokedex",
        link: "https://main--pokedextypescriptgc.netlify.app/",
        tags: ["React", "CSS", "Typescript"]
    },
    {
        title: "RoFe Ferretería",
        description: "Gestor y control de stock de materiales de ferretería",
        image: "/proyectos/RoFe.jpg",
        github: "https://github.com/ImanolBraccciale/PF-Ferreteria/tree/main",
        link: "",
        tags: ["Next", "Tailwind", "Node", "SQL"]
    },
    {
        title: "Doggys App",
        description: "Información de razas de perros y creación de ellos.",
        image: "/proyectos/Dogs.jpg",
        github: "https://github.com/GCortesGustavo/PI-Dogs-main",
        link: "",
        tags: ["React", "Node", "Javascript", "SQL"]
    }
]
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    {PROYECTOS.map(({ title, description, github, image, link, tags }) => (
        <div class="relative group">
            
            <div class="relative overflow-hidden rounded-xl shadow-lg">
                <img
                    src={image}
                    alt={`Captura de pantalla de ${title}`}
                    class="rounded-xl object-cover w-full h-48 sm:h-64 transition-transform duration-500 group-hover:blur-sm group-hover:scale-105"
                />
                <h2 class="absolute bottom-4 left-4 text-white text-xl font-bold z-10 bg-slate-950/50 px-2 py-1 rounded">
                    {title}
                </h2>
            </div>

            {/* Contenido que aparece al hover */}
            <div class="absolute inset-0 bg-black/60 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 rounded-xl p-4">
                <p class="text-white text-center text-sm sm:text-base mb-4">{description}</p>
                <a href={link} target="_blank" class="text-blue-400 text-sm sm:text-base mb-2 underline">Ver Proyecto</a>
                <a href={github} target="_blank" class="text-blue-400 underline"><GitHub class="size-6" /></a>
                <ul class="flex mt-4 space-x-2">
                    {tags.map(tag => (
                        <li class="bg-white text-gray-800 py-1 px-3 rounded-full text-xs sm:text-sm">
                            {tag}
                        </li>
                    ))}
                </ul>
            </div>
        </div>
    ))}
</div>
